---
import Section from "@/components/Section.astro";
import { getLocalizedData } from "@/services/utils";

// Llama a la función para obtener los datos localizados
// const { cvData, content } = await getLocalizedData(Astro.request.url);
const { content } = await getLocalizedData(Astro.request.url);

// Desestructurar los datos
// const { interests } = cvData;
---

<Section title={content.Interest.title}>
	<!-- {interests.map(({ name, keywords }) => {})} -->
</Section>
