---
import Section from "@/components/Section.astro";
import { getLocalizedData } from "@/services/utils";

// Llama a la función para obtener los datos localizados
const { cvData, content } = await getLocalizedData(Astro.request.url);

// Desestructurar los datos
const { moreAboutMe } = cvData;
---

<Section title={content.MoreAboutMe.title}>
  <ul class="flex flex-col gap-2 flex-wrap">
    {
      moreAboutMe.map(({ title, description }) => {
        return (
          <li class="flex items-center">
            <span class="rounded-md text-gray-600 px-2 text-sm">
              - <span class="font-bold">{title}</span>: {description}
            </span>
          </li>
        );
      })
    }
  </ul>
</Section>
