---
import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Languages from "@/components/sections/Languages.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Abel Casas porfolios.">
  <main class="p-16 mx-auto my-auto min-w-full">
    <Hero />
    <About />
    <Experience />
    <Education />
    <Projects />
    <Languages />
    <Skills />
    <!-- <Certificates />
    <Awards />
    <Interest />
    <Publications />
    <References />
    <Volunteers /> -->
  </main>
</Layout>
