---
const { title, printable = true } = Astro.props;
let classList = "max-w-3xl my-0 mx-auto mb-10";
if (!printable) {
	classList += " no-print ";
}
---

<section class={classList}>
	{title && <h2 class="mb-5 font-bold text-xl ">{title}</h2>}
	<slot />
</section>
